.navbar {
  background-color: #6ac2fd80;
}

.site-footer {
  background-image: linear-gradient(#6ac2fd80, white);
  padding-bottom: 25px;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-link {
  color: black;
}